
.product-card {
  max-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

mat-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

mat-card {
  transition: transform .2s;
}


.sort-dropdown {
  margin-left: 20px;
}